body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainContainer{
  text-align: center;
}

.image-post{
  display: flex;
  justify-content: center;
}

img{
  max-width: 500px;
}

pre{
  font-size: 5px !important;
  letter-spacing: 1px !important;
  font-family: 'Courier New', Courier, monospace !important;
  line-height: 4px !important;
  overflow: visible !important;
}

.navbar-light .navbar-brand {
  margin-left: .5em;
}