body {
  margin: 0;
  font-family:'Times New Roman', Times, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainContainer{
  text-align: center;
}

.image-post{
  display: flex;
  justify-content: center;
}

img{
  max-width: 500px;
}

pre{
  font-size: .4vw !important;
  letter-spacing: .4px !important;
  font-family: 'Courier New', Courier, monospace !important;
  line-height: .3vw !important;
  overflow: visible !important;
}

.navbar-light .navbar-brand {
  margin-left: .5em;
}

#poster{
  text-align:  left !important;
}